@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#bodyIndex {
  background: #000;
  font-family: "dosFont";
  font-size: 19px;
  color: #888;
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin: 0;
  transform: scale(0.6) translateY(-25%);
}

#styleBody {
  background: #000;
  font-family: "dosFont";
  font-size: 19px;
  color: #888;
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin: 0;
  transform: scale(0.6) translateY(-25%);
}

.last {
  position: absolute;
  bottom: 12%;
  left: 50%;
  transform: translateX(-50%);
}

.BackColorSO {
  background-color: rgb(20, 48, 52);
}

.navBarMenu {
  background-color: rgb(10, 113, 181);
  display: flex;
  justify-content: space-between;
  border: 3px solid black; /* Borde de 3px sólido y negro en la parte superior e inferior */
  border-width: 3px 0 0; /* Grosor de 3px arriba. Abajo 0 y en los lados izquierdo y derecho */
  font-family: "dosFont";
}

.hsMenu {
  background-color: yellowgreen;
  border: 2px solid black;
  font-family: "dosFont";
  font-size: 37px;
  margin-top: 6px;
  margin-bottom: 7px;
  padding-left: 5px;
  padding-bottom: 0px;
  padding-top: 3px;
  margin-left: 5px;
}

.hsMenu {
  position: relative;
}

.hsMenu > hr {
  position: absolute;
  bottom: 3px;
  left: 4.7px;
  width: 19%;
  border: 0;
  height: 5px;
  background-color: black;
  /* margin: 0px; */
  /* padding: 0; */
}

.dflex {
  display: flex;
}

.hrCfgS, .hrCfgV, .hrCfgE {
  position: relative;
}

.hrCfgS > hr {
  position: relative;
  bottom: 5.6px;
  left: 6.5px;
  width: 14%;
  border: 0;
  height: 3px;
  background-color: #000000;
  /* margin: 0px; */
  /* padding: 0; */
}

.hrCfgV > hr {
  position: relative;
  bottom: 6px;
  left: -0.3px;
  width: 20.8%;
  border: 0;
  height: 3px;
  background-color: #000000;
  /* margin: 0px; */
  /* padding: 0; */
}

.hrCfgE > hr {
  position: absolute;
  bottom: 3px;
  left: -0.3px;
  width: 13.8%;
  border: 0;
  height: 3px;
  background-color: black;
  /* margin: 0px; */
  /* padding: 0; */
}

.heroSoftTitle {
  font-family: "dosFont";
  display: flex;
  font-size: 25px;
  margin-top: 5px;
  margin-right: 5px;
}

.menuSection1 {
  margin-left: 7px;
}

.menuSection4 {
  margin-left: 7px;
  margin-right: 1%;
}

.menuSection5 {
  margin-right: 1%;
}

.pointer {
  cursor: pointer;
}

.cfgTxt {
  font-family: "dosFont";
  font-size: 30px;
}

.navBarUnity {
  background-color: rgb(0, 0, 0);
  border: 3px solid black;
  color: white;
  border-width: 3px 0 2px;
  font-family: "dosFont";
  /* height: 29px; */
  padding-top: 3px;
  text-align: center;
  padding-bottom: 0px;
}

.cfgSubTxt {
  font-family: "dosFont";
  font-size: 30px;
  /* padding-top: 12px; */
}

.optionsSystem {
  background-color: white; /* Fondo blanco */
  text-align: left; /* Texto alineado a la izquierda */
  padding: 5px;
  font-family: "dosFont"; /* Fuente dosFont */
  font-size: 40px; /* Tamaño de fuente 30px */
}

.optionsSystem:hover:not(.focused),
.optionsSystem:focus:not(.focused),
.optionsSystem:focus-visible {
  background-color: black; /* Cambio de color de fondo en hover y foco */
  color: white; /* Cambio de color de texto en hover y foco */
}

.optionsSystem.focused {
  background-color: rgb(0, 0, 0); /* Fondo blanco cuando el elemento tiene foco */
  color: rgb(255, 255, 255); /* Texto negro cuando el elemento tiene foco */
}

/* Desactivar el cursor parpadeante en los elementos hsMenu, menuSection1, menuSection2, menuSection3 y grid-item */
.hsMenu, .menuSection1, .menuSection2, .menuSection3, .optionsSystem {
  caret-color: transparent; /* Hacer transparente el cursor parpadeante */
}

/* Establecer el tamaño de la tabla al 100% del ancho y alto del main */
.main {
  display: flex;
  flex-direction: column;
  height: 100vh; /* 100% del viewport height */
}

.tableWrapper {
  flex: 1; /* La tabla ocupa todo el espacio restante */
  overflow: auto; /* Agregar barra de desplazamiento si el contenido es demasiado grande */
}

.tableCfg {
  width: 100%;
  height: 80vh;
  border: 3px solid rgba(0, 0, 0, 0.329);
  border-collapse: collapse;
}

.tableCfg td {
  width: 25%; /* Ancho igual para cada columna */
  border: 0px solid rgba(0, 0, 0, 0.227);
}

.navBarSecondary {
  background-color: rgb(50, 205, 161);
  border: 3px solid black;
  border-width: 3px 0 0;
  font-family: "dosFont";
  height: 33px;
  display: flex; /* Convertir el contenedor en un flex container */
  align-content: flex-start;
}

.menuSectionWithSubMenu:hover {
  background-color: aqua;
}

.subMenu {
  position: absolute;
  background-color: grey;
  color: white;
  width: 230px;
  height: 260px;
  font-size: 30px;
  display: none;
  padding: 10px;
  box-sizing: border-box;
}

.subMenuContent:hover {
  background-color: rgb(85, 84, 84);
}

.menuSectionWithSubMenu:hover .subMenu {
  display: block;
}

.paddingRL5px {
  padding-left: 10px;
  padding-right: 10px;
}

.paddingRL4px {
  padding-left: 0px;
  padding-right: 10px;
}

.paddingRL3px {
  padding-left: 10px;
  padding-right: 5px;
}

#consoleBody {
  background: #000;
  font-family: "dosFont";
  color: #888;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.titleArea {
  margin-top: 20px;
  margin-left: 20px;
  color: #aaa;
  position: relative;
}

body, html {
  margin: 0;
  padding: 0;
}

.consoleAll {
  margin-top: 3%;
  margin-left: 2%;
}

#consoleBody {
  background: #000;
  font-family: "dosFont";
  color: #b5b5b5;
  font-size: 22px;
  /* margin-top: 0%; */
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.titleArea {
  margin-top: 20px;
  margin-left: 60px;
  color: #aaa;
}

.mainTitleDos {
  font-size: 29px;
  margin-top: 15px;
  margin-left: 3%;
}

.mainTitleDos span.green {
  color: #00ff00; /* Rojo */
}

.mainTitleDos span.red {
  color: #ff0000; /* Rojo */
}

.mainSubTitleDos {
  font-size: 29px;
  margin-top: 10px;
  margin-bottom: 2%;
  margin-left: 2%;
}

#consoleArea {
  position: relative;
  flex: 1;
  /* overflow-y: auto; */
  padding: 10px;
}

#consoleContent {
  white-space: pre;
  margin-left: 0px;
  margin-bottom: 5px; /* Ajuste del margen inferior */
  line-height: 32px;
}

#inputPrefix {
  position: absolute;
  left: 10px;
  color: #b5b5b5;
  font-size: 22px;
  line-height: 26px; /* Alinear con el texto del textarea */
  margin-top: -2px; /* Ajuste del margen superior */
  margin-bottom: 5px; /* Ajuste del margen inferior */
}

#inputLine {
  position: absolute;
  left: calc(-15px + 6ch);
  width: calc(100% - 10px - 6ch);
  height: 26px;
  border: none;
  padding-left: 1px;
  bottom: -13px;
  padding-top: 3px;
  background: transparent;
  color: #cecece;
  font-size: 21.9px;
  font-family: "dosFont";
  /* padding: 0px; */
  margin: 0;
  resize: none;
  outline: none;
}

#cursor {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #888;
  font-size: 25px;
}

.borderBottom, .borderTop {
  font-size: 19px;
  margin-bottom: 2.34%;
}

.borderTop {
  margin-bottom: -12px;
}

.borderBottom {
  margin-top: -32px;
}

.helpCom {
  font-size: 15px;
  font-style: italic;
  color: #555555;
  margin-top: -2.3%;
  margin-left: 16%;
}

.backLoadingColor {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black; /* Agrega el color de fondo negro */
  z-index: -1; /* Asegura que esté detrás de todo */
}

@keyframes fadeOutBackground {
  0% {
    opacity: 1; /* Comienza con opacidad mínima */
  }
  99.9% {
    opacity: 1; /* Termina con opacidad máxima */
  }
  100% {
    opacity: 1; /* Termina con opacidad máxima */
    display: none; /* Oculta completamente el elemento */
  }
}
.heroSoftIntro {
  font-family: "heroSoft";
  font-size: 160px;
  color: gray;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  z-index: 1; /* Asegura que esté encima del fondo negro */
  animation: rotateHue 3s linear forwards, hideBackground 3s linear forwards; /* Aplica la animación de rotación de color y ocultamiento */
}

.secTxt {
  font-family: "heroSoft";
  font-size: 40px;
  color: gray;
  position: fixed;
  top: calc(50% + 100px); /* Ajusta la posición vertical */
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  animation: hideBackground 3s linear forwards;
}

@keyframes rotateHue {
  0% {
    filter: hue-rotate(0deg); /* Empieza desde 0 grados */
  }
  100% {
    filter: hue-rotate(360deg); /* Termina en 360 grados */
  }
}
@keyframes hideElements {
  0% {
    opacity: 1; /* Inicia con opacidad completa */
  }
  99.9% {
    opacity: 1; /* Mantiene la opacidad mientras se rota */
  }
  100% {
    opacity: 1; /* Oculta el elemento al final de la animación */
    display: none; /* Oculta completamente el elemento */
  }
}
@keyframes hideBackground {
  0% {
    opacity: 1; /* Comienza con opacidad máxima */
  }
  100% {
    opacity: 1; /* Termina con opacidad mínima */
    display: none; /* Oculta completamente el elemento */
  }
}
@font-face {
  font-family: dosFont;
  src: url(../fonts/PerfectDOS-VGA-437-Win.ttf);
}
@font-face {
  font-family: heroSoft;
  src: url(../fonts/Px437_ACM_VGA_8x8.ttf);
}/*# sourceMappingURL=styles.css.map */