.BackColorSO {
    background-color: rgb(20, 48, 52);
}

body {
    scrollbar-color: #F3544D #ee8984;
}

.navBarMenu {
    background-color: #5154E6;
    display: flex;
    justify-content: space-between;
    border: 3px solid black;
    border-width: 3px 0 0;
    font-family: "dosFont";
}

.hsMenu {
    background-color: yellowgreen;
    border: 2px solid black;
    font-family: "dosFont";
    font-size: 37px;
    margin-top: 6px;
    margin-bottom: 7px;
    padding-left: 5px;
    padding-bottom: 0px;
    padding-top: 3px;
    margin-left: 5px;
}

.hsMenu {
    position: relative;
}

.hsMenu>hr {
    position: absolute;
    bottom: 3px;
    left: 4.7px;
    width: 19%;
    border: 0;
    height: 5px;
    background-color: black;
    /* margin: 0px; */
    /* padding: 0; */
}

.dflex {
    display: flex;
}

.hrCfgS,
.hrCfgV,
.hrCfgE {
    position: relative;
}

.hrCfgS>hr {
    position: relative;
    bottom: 5.6px;
    left: 6.5px;
    width: 14%;
    border: 0;
    height: 3px;
    background-color: #000000;
    /* margin: 0px; */
    /* padding: 0; */
}

.hrCfgV>hr {
    position: relative;
    bottom: 6px;
    left: -0.3px;
    width: 20.8%;
    border: 0;
    height: 3px;
    background-color: #000000;
    /* margin: 0px; */
    /* padding: 0; */
}

.hrCfgE>hr {
    position: absolute;
    bottom: 3px;
    left: -0.3px;
    width: 13.8%;
    border: 0;
    height: 3px;
    background-color: black;
    /* margin: 0px; */
    /* padding: 0; */
}

.heroSoftTitle {
    font-family: "dosFont";
    display: flex;
    font-size: 25px;
    margin-top: 5px;
    margin-right: 5px;
}

// .navBarSecondary {
//     background-color: rgb(50, 205, 161);
//     border: 3px solid black; /* Borde de 3px sólido y negro en la parte superior e inferior */
//     border-width: 3px 0 0; /* Grosor de 3px arriba. Abajo 0 y en los lados izquierdo y derecho */
//     font-family: "dosFont";
//     height: 33px;
//     display: flex;
//     flex-direction: column;
//     flex-wrap: wrap;
// }

.menuSection1 {
    margin-left: 7px;
}



.menuSection4 {
    margin-left: 7px;
    margin-right: 1%;
}

.menuSection5 {
    margin-right: 1%;
}

.pointer {
    cursor: pointer;
}

.cfgTxt {
    font-family: "dosFont";
    font-size: 30px;
}

.navBarUnity {
    background-color: rgb(0, 0, 0);
    border: 3px solid black;
    color: white;
    border-width: 3px 0 2px;
    font-family: "dosFont";
    /* height: 29px; */
    padding-top: 3px;
    text-align: center;
    padding-bottom: 0px;
}

.cfgSubTxt {
    font-family: "dosFont";
    font-size: 30px;
    /* padding-top: 12px; */
}

//!GRILLA 



.optionsSystem:hover:not(.focused),
.optionsSystem:focus:not(.focused),
.optionsSystem:focus-visible {
    background-color: black;
    /* Cambio de color de fondo en hover y foco */
    color: white;
    /* Cambio de color de texto en hover y foco */
}

.optionsSystem.focused {
    background-color: rgb(0, 0, 0);
    /* Fondo blanco cuando el elemento tiene foco */
    color: rgb(255, 255, 255);
    /* Texto negro cuando el elemento tiene foco */
}

// .hoverMS123:hover {
//     //background-color: rgb(10, 62, 30);
// }

/* Desactivar el cursor parpadeante en los elementos hsMenu, menuSection1, menuSection2, menuSection3 y grid-item */
.hsMenu,
.menuSection1,
.menuSection2,
.menuSection3,
.optionsSystem {
    caret-color: transparent;
    /* Hacer transparente el cursor parpadeante */
}

//!Explorer NAV 

/* Establecer el tamaño de la tabla al 100% del ancho y alto del main */
.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* 100% del viewport height */
}

// .tableWrapper {
//     flex: 1;
//     /* La tabla ocupa todo el espacio restante */
//     overflow: auto;
//     /* Agregar barra de desplazamiento si el contenido es demasiado grande */
// }

// .tableCfg {
//     background-color: white;
//     width: 100%;
//     height: 80vh;
//     border: 3px solid rgba(0, 0, 0, 0.329);
//     border-collapse: collapse;
// }

.draggable {
    position: absolute;
    z-index: 1000; /* Asegúrate de que la carpeta se muestre encima de otras */
    cursor: move;
}

.tableCfg {
    background-color: white;
    width: 100%;
    height: 80vh;
    border: 21px outset #6276a5;
    border-collapse: collapse;
}

.optionsSystem {
    background-color: white;
    text-align: left;
    /* padding: 1px; */
    padding-left: 15px;
    padding-right: 15px;
    font-family: "dosFont";
    font-size: 40px;
}

.modal-titleTXT, .modal-titleCarpet {
    white-space: nowrap;
}

.optionsSystem {
    display: flex;
    margin-right: 0px;
    align-items: center;
}

td {
    padding-left: 10px;
    /* Espacio interno a la izquierda */
    padding-right: 10px;
    /* Espacio interno a la derecha */
}


tr {
    width: -moz-max-content;
    /* width: max-content; */
    /* height: 1.657em; */
    min-height: 66px;
    min-width: 466px;
}

tbody {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    // margin-top: -3px;
    // margin-left: -3px;
    /* grid-auto-rows: minmax(auto, auto); */
    gap: 0;
}

tr:nth-child(1) td:nth-child(n+1):nth-child(-n+12) {
    grid-column: span 12;
    /* Ocupa las 12 columnas en la primera fila */
}

tr:nth-child(2) td:nth-child(n+13):nth-child(-n+24) {
    grid-column: span 12;
    /* Ocupa las 12 columnas en la segunda fila */
}

//!BOX NAV

.navBarSecondary {
    background-color: #F3FC4D;
    border: 3px solid black;
    border-width: 3px 0 0;
    font-family: "dosFont";
    height: 33px;
    display: flex;
    align-content: flex-start;
}

// .menuSectionWithSubMenu {
//     padding-right: 20px; /* Espacio entre cada elemento */

// }

.menuSectionWithSubMenu:hover {
    background-color: #5154E6;
}

// .subMenu {
//     position: absolute;
//     background-color:#F3FC4D;
//     color: black;
//     width: 230px;
//     height: 260px;
//     font-size: 30px;
//     margin-left: -10px;
//     display: none;
//     padding: 10px;
//     box-sizing: border-box;
// }

.subMenu {
    position: absolute;
    background-color: #F3FC4D;
    color: black;
    width: 202px;
    height: 148px;
    font-size: 30px;
    margin-left: -10px;
    display: none;
    /* padding: 0px; */
    box-sizing: border-box;
    /* margin-bottom: 4px; */
}

.num1Smenu {
    margin-left: 14px;
}

.num2Smenu {
    margin-left: 7px;
}

.num3Smenu {
    margin-left: 7px;
}

.subMenuContent:hover {
    background-color: #5154E6;
}

.menuSectionWithSubMenu:hover .subMenu {
    display: block;
}

.paddingRL5px {
    padding-left: 10px;
    padding-right: 10px;
}

.paddingRL4px {
    padding-left: 0px;
    padding-right: 10px;
}

.paddingRL3px {
    padding-left: 10px;
    padding-right: 5px;
}

//!Folders

.modal {
    display: none;
    /* Ocultar la ventana modal por defecto */
    position: fixed;
    /* Mantenerla en su lugar */
    z-index: 1;
    /* Situarla por encima de todo lo demás en la página */
    left: 0;
    top: 0;
    width: 100%;
    /* Ancho completo */
    height: 100%;
    /* Altura completa */
    overflow: auto;
    /* Habilitar el desplazamiento si es necesario */
    background-color: rgb(0, 0, 0);
    /* Color de fondo negro con opacidad */
    background-color: rgba(0, 0, 0, 0.4);
    /* También se agrega opacidad (black = 0) */
}

/* Contenido de la ventana modal */
.modalCarpet {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 0;
    border: 2px solid #888;
    width: 500px;
    height: 400px;
    font-family: 'Courier New', Courier, monospace;
}

.modal-title-bar {
    background-color: #0000AA;
    color: #FFFFFF;
    padding-bottom: 40px;
    font-size: 20px;
}

.modal-title {
    font-family: dosFont;
    position: absolute;
    left: 50%;
    margin-top: 7px;
    font-size: 30px;
    transform: translateX(-50%);
}

.close,
.closeCarpet {
    float: right;
    font-size: 29px;
    font-weight: bold;
    margin-right: 1px;
    margin-top: -6px;
}

.close:hover,
.close:focus {
    color: #FF0000;
    text-decoration: none;
    cursor: pointer;
}

.closeCarpet:hover,
.closeCarpet:hover {
    color: #FF0000;
    text-decoration: none;
    cursor: pointer;
}

.modal-body {
    padding: 20px;
}


//! MENU BAR
/* CSS */
.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 88%;
    display: none;
    position: absolute;
    width: 138px;
    background-color: #F3FC4D;
    border: 2px solid #000000;
    z-index: 1;
    list-style-type: none;
    padding: 0;
    margin-left: 5.4px;
    font-size: 25px;
}

.dropdown-menu {
    display: none;
    /* resto del código CSS */
    transition: all 0.3s ease; /* esto hace que el menú se abra y cierre suavemente */
}

.dropdown-menu.show {
    display: block;
}

.blocked {
    pointer-events: none; /* esto hace que el elemento no sea "clickeable" */
    color: #999999; /* esto cambia el color del texto a gris claro, puedes ajustarlo a lo que prefieras */
}

.blocked:hover {
    background-color: transparent; /* esto evita que el fondo cambie de color al pasar el mouse sobre el elemento */
}

.listStyle:hover {
    background-color: #5154E6;
}

.blocked hr {
    border: none;
    border-top: 2px solid #000000; /* esto crea una línea horizontal */
    width: 100%; /* esto hace que la línea ocupe todo el ancho del elemento */
}

//TODO IE Modal CFG

