/* styles.css */
.dos-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.dos-title-bar {
    background-color: #000;
    color: #fff;
    padding: 5px;
    border-bottom: 1px solid #fff;
}

.dos-title {
    font-size: 16px;
}

.dos-content {
    padding: 10px;
}

#txt-content {
    white-space: pre-wrap;
    font-size: 14px;
}

.modal-contentTXT {
    display: flex; /* Usar flexbox para una mejor distribución de los elementos hijos */
    flex-direction: column; /* Organizar los elementos hijos en una columna */
    justify-content: space-between; /* Distribuir el espacio entre los elementos hijos */
    width: 800px; /* Ancho de la ventana modal */
    height: 600px; /* Altura de la ventana modal */
    position: absolute; /* Posición absoluta para permitir que se mueva */
    top: 50%; /* Centrar la ventana modal verticalmente */
    left: 50%; /* Centrar la ventana modal horizontalmente */
    transform: translate(-50%, -50%); /* Centrar la ventana modal en relación a su propia altura y anchura */
    border: 2px solid #000;
    box-shadow: 5px 5px #000;
    background-color: blue; /* Color de fondo azul */
    resize: both; /* Permite al usuario redimensionar la ventana modal en ambas direcciones */
    overflow: auto; /* Asegura que el contenido no se desborde */
}

.modal-bodyTXT {
    width: 100%; /* Ancho del textarea */
    height: calc(100% - 30px); /* Altura del textarea, ajustada para la barra de título */
    border: none; /* Remover el borde del textarea */
    color: black;
    font-family: heroSoft;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 10px; /* Espacio interior del textarea */
    box-sizing: border-box; /* Asegurar que el padding no aumente el tamaño del textarea */
}

.modal-bodyTXT textarea {
    width: 100%;
    height: 100%;
    border: none;
    background-color: blue;
    color: black;
    resize: none;
    font-family: dosFont;
    overflow-y: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 10px;
    box-sizing: border-box;
    font-size: 20px;
}

.modal-title-barTXT {
    cursor: move;
    padding: 10px;
    background-color: #F3FC4D;
    border-bottom: 2px solid black;
}

.modal-titleTXT {
    font-family: dosFont;
    position: absolute;
    left: 50%;
    margin-top: 0px;
    font-size: 30px;
    transform: translateX(-50%);
}



.modal-bodyTXT textarea {
    /* ...resto del código... */
    margin: 0; /* Restablecer los márgenes */
    padding: 0; /* Restablecer el padding */
    border: none; /* Remover el borde */
    outline: none; /* Remover el contorno */
    box-shadow: none; /* Remover la sombra */
    resize: none; /* Desactivar la capacidad de redimensionar */
    overflow: none; /* Asegurar que el contenido no se desborde */
    /* ...resto del código... */
}


//TODO BARRA DESPLAZADORA TEXTOS

.modal-contentTXT::-webkit-scrollbar {
    width: 20px; /* Ancho de la barra de desplazamiento */
}

.modal-contentTXT::-webkit-scrollbar-track {
    background: #F5F5F5; /* Color de fondo de la barra de desplazamiento */
}

.modal-contentTXT::-webkit-scrollbar-thumb {
    background: #F3544D; /* Color del control deslizante de la barra de desplazamiento */
}